"""
ADD YOUR INFO ABOUT BOT, API, AND DB IN THIS FILE
"""


# bot token
TOKEN = 'token of your bot'

# api tmdb keys
API_KEY = 'your api key'

# Postgres
PGHOST = 'your host'
PG_PORT = 'your port'
PG_USER = 'your db username'
PG_PASS = 'your db password'
DB_NAME = 'your db name'

# ADMIN
ADMIN_ID = 'Admin ID'